{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reclamations list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Client</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td><a href="{{ path('reclamations_show', { 'id': reclamation.id }) }}">{{ reclamation.id }}</a></td>
                <td>{{ reclamation.titre }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.client.nom }} {{ reclamation.client.prenom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reclamations_show', { 'id': reclamation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reclamations_edit', { 'id': reclamation.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('reclamations_delete', { 'id': reclamation.id }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamations_new') }}">Create a new reclamation</a>
        </li>
    </ul>
{% endblock %}
