{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reclamation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ reclamation.client.nom }} {{ reclamation.client.prenom }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ reclamation.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamations_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reclamations_edit', { 'id': reclamation.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
