{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clients list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('clients_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('clients_show', { 'id': client.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('clients_edit', { 'id': client.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('clients_delete', { 'id': client.id }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clients_new') }}">Create a new client</a>
        </li>
    </ul>
{% endblock %}
